# Laravel folders/files
/vendor
/node_modules
/public/build
/public/hot
/public/storage
/public/mix-manifest.json
/storage/*.key
/storage/*.log
.env
.env.*
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml

# Logs & misc
npm-debug.log
yarn-error.log
auth.json
.DS_Store

# Editor/IDE config
/.fleet
/.idea
/.vscode
/phpactor.json

# Custom
/_theme_files